body {
    font-family: 'Open Sans', sans-serif;
    color: #000000;
    font-size: 15px;
    margin-left:-16px;
}

.header {
    padding-top: 50px;
}
.vizbar {
    padding-top: 50px;
}

.toolbar {
    font-weight: 700;
    background-color: #F7F7F7;
    border: 1px solid #4D4D4D;
    border-radius:20px;
    margin-top: 5px;
    text-align: center;
    box-shadow: 2px 4px 20px 4px rgb(0, 0, 0, 0.18);
    margin-bottom: 25px;
    min-height: 40px;
    min-width: 1140px;
}

.topbar {
    font-weight: 700;
    background-color: #F7F7F7;
    border: 1px solid #4D4D4D;
    margin-top: -1px;
    margin-left: -1px;
    text-align: center;
    box-shadow: 2px 4px 20px 4px rgb(0, 0, 0, 0.18);
    margin-bottom: 25px;
    min-height: 40px;
    position: fixed;
    padding-top:5px;
    left: 0px;
    top: 0px;
    width: 102%;
    z-index:1000;
}

.sidebar {
    font-weight: 700;
    padding: 6px;
    padding-bottom: 0px;
    border: 1px solid #666;
    background-color: #F7F7F7;
    border-radius:20px;
    text-align: left;
    box-shadow: 2px 4px 20px 4px rgb(0, 0, 0, 0.18);
    height: auto;
    min-height: 40px;
    margin-left:-9px;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    top: 60px;
    width: 480px;
    z-index:1000;
}

.sidebar-header {
    border-radius: 20px;
    padding: 6px;
    padding-top: 8px;
    border: 1px solid #666;
    background-color: #E6E6E6;
    margin-top: -7px;
    margin-bottom: -7px;
    margin-left: -7px;
    vertical-align: middle;
    min-height: 25px;
    height: auto;
    width: 480px;
    z-index:1000;
    max-width: 466px;
    box-sizing: content-box;
    display: inline-block; /* */
}

#title-input{
    width: 420px;
}

.toolbar-header {
    border-radius: 20px;
    padding: 6px;
    border: 1px solid #666;
    background-color: #E6E6E6;
    cursor: pointer;
    margin-top: -1px;
    margin-bottom: -1px;
    margin-right: -16px;
    margin-left: -16px;
    height: 40px;
    vertical-align: middle;
}

.toolbar-header-edit {
    background: #D8A38D;
}


.toolbar-items {
    display: flex;
    align-items: center;
    text-align: left;
    width: 100%;
    padding: 10px;
    padding-top:20px;
}

.sidebar-items {
    display: flex;
    text-align: left;
    width: 100%;
    padding-bottom: 10px;
    clear: both;
}

img.eyecon {
    height: 30px;
    width: 30px;
    margin-right: 5px;
}

img.icon {
    width: 60px;
}

.level div div {
    padding: 10px;
}

.ownership {
    text-align: left;
}

.ownership div {
    width: 100%;
    padding: 5px;
} 
div.ownership div div, #population div div {
    cursor: pointer;
    font-weight: 400;
}
.selected {
    font-weight: 800!important;
}
/* begin abdo import */

#text-select {
    float: right;
    margin-right: 10px;
}

#vis {
    overflow: visible;
    position: relative;
}

#status {
    padding: 0 0 20px 20px;
    font-weight: normal;
}
        
#controls {
    padding: 20px;
    background-color: #eee;
    margin: 10px;
    width: 350px;
}

#bubble-background {
    fill: none;
    pointer-events: all;
}

/*
.bubble-node {
    fill: #DCE9BE;
}

.bubble-hover {
    fill: #E8E9E7;
}

.bubble-selected {
}

*/

.active {
    font-weight: 600;
}

a.bubble-label {
    font-family: 'Open Sans', sans-serif;
    color: inherit;
    cursor: pointer;
    display: block;
    text-align: center;
    text-decoration: none;
    line-height: 1em;
    position: absolute;
    width: auto;
}

.bubble-label-name {
    margin-bottom: 0px;
    padding: 6px;
    padding-left: 10px;
    border: 1px solid #666;
    background-color: #F7F7F7;
    border-radius:10px;
    text-align: left;
    box-shadow: 2px 4px 20px 4px rgb(0, 0, 0, 0.18);
    display:block;
}

.bubble-label-value {
    font-weight: bold;
    font: 11px sans-serif;
    white-space: nowrap;
}


footer p {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font: 13px sans-serif;
}

.rotate-right {
    transform: translate(-3%, -11%) rotate(55deg) scale(0.2);
}

.rotate-left {
    transform: translate(-6%, -11%) rotate(55deg) scale(0.2);
}

.rotate-up {
    transform: translate(-4%, -13%) rotate(145deg) scale(0.2);
}

.rotate-diagonal-right {
    transform: translate(-3%, -8%) rotate(107deg) scale(0.2);
}

.rotate-diagonal-left {
    transform: translate(-5%, -7%) rotate(185deg) scale(0.2);
}

.rotate-white {
    transform: translate(-5%, -7%) rotate(185deg) scale(0.2);
}

.catPopulation {
    display: none;
}

.catCoverage,
.catLevel {
    display: none;
}

*[contenteditable="true"] {
    background-color: rgba(230, 230, 230, 1);
}

.faded {
    opacity: 0.6;
}

.opaque {
    opacity: 1;
}
.shown {
    display: block;
}

.hidden {
    display: none;
}

.radio {
    float: left;
}

.hidden_size, .hidden_department, .hidden_population {
    display:none;
}

.fa-plus{
    margin-top:5px;
}
.fa-plus path, .fa-minus path{
    fill: #666
}
.dim_label{
	color: #333;
    text-align: left;
    margin-left: 20px;
    font-weight: bold;
    overflow: hidden;
}
.dim_val{
	color: #000;
    text-align: left;
    font-weight: normal;
}       
.geolevel{
	text-align:left;
    margin-left: 10px;
    margin-right: 10px;
}
.item_geo {
    width: 100%;
    padding-left:30px;
    text-align:left;
    padding-bottom:4px;
}
.item_population {
    width: 40%;
    text-align: center;
}
.item_level {
    text-align: center;
    margin-left: -10px;
}
tspan{
	font-size:25px;
	font-family: OpenSans;
}
#timedimsvg{
    transform: scale(0.7);
    height: 340px;
    transform-origin: top;
    width: 420px;
    margin-right: -50px;
    margin-left: -100px;
    margin-bottom: -100px;
}

.dep_circle{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    top: 6px;
    margin-right: 5px;
}
.dep_EGZ{
    background-color: #BB9BD1;
}
.dep_IZ{
    background-color: #8FBCD8;
}
.dep_JGZ{
    background-color: #ADC499;
}
.dep_VT{
    background-color: #C69C6D;
}
.dep_MGGZ{
    background-color: #f384a3;
}
.dep_FGMA{
    background-color: #EA948B;
}
.dep_GHOR{
    background-color: #E3ACE5;
}
.dep_LO{
    background-color: #B3B3B3;
}
.dep_AAGG{
    background-color: #D9E021;
}
.dep_unknown{
    background-color: #ccc;
    width: 0px;
}

#geo_btn span div div,
#pop_btn div div,
#type_btn div svg g ellipse, #type_btn div svg g text,
#level_btn div div div, 
#size_btn div svg g circle, #time_btn div svg g text,
#dep_btn div div, 
#time_btn div svg g path, #time_btn div svg g text{
    cursor: pointer;
}

#edit_mode{
    /*max-width: 960px;"*/
    border: #C33 3px solid;
    padding-right: 15px;
    padding-left: 15px;
}
#edit-top-bar{    
    position: fixed;
    z-index:1000000;
    width: 90%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 5%;
    margin-left: 5%;
}
#geo_11{
    margin-top:10px;
    font-weight: normal;
    cursor: pointer;
}
#pop_5{
    width: 100%;
    margin-left: -30px;
    font-weight: normal;
    cursor: pointer;
}
#type_6{
    margin-top:-80px;
    margin-left:-20px;
    font-weight: normal;
    cursor: pointer;
}
#level_6{
    font-weight: normal;
    margin-top:60px;
    cursor: pointer;
}
#size_6{
    margin-bottom: 10px;
    margin-left: -55px;
    font-weight: normal;
    cursor: pointer;
}
#dep_10{
    margin-top: 5px;
    font-weight: normal;
    padding: 10px;
    cursor: pointer;
}
#year_19{
    margin-bottom: 10px;
    margin-left: -65px;
    font-weight: normal;
    cursor: pointer;
}

.pop-input-item{
    float:left;
    text-align: center;
    width: 75px;
    margin-top:3px;
    font-size:14px;
    line-height: 15px;
}
.pop-input-item img{
    width: 30px;
    height: 30px;
}

.level-input-item{
    float:left;
    text-align: center;
    margin-right: 15px;
    margin-top:3px;
    font-size:14px;
    line-height: 15px;
    overflow: visible;
}
.level-input-item img{
    width: 30px;
    height: 30px;
}

.item_input{
    margin-left:13px;
    float:left;
    margin-bottom: 0px;
}

.input_item_checked{
    font-weight: bold;
    opacity:1;
}
label{
    opacity:0.4;
}
label:hover, .label_selected{
    opacity:1;
    font-weight: bold;
}
.dep_label{
    width:150px;
    float: left;
    font-weight: normal;
    vertical-align: middle;
    font-size:14px;
}